@import './reset.less';
// @import './common.less';

.layout{
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  background-color: #eee;
  margin: 0 auto;
  display: flex;
  flex-direction: column;//上中下 
}
.pyg_header{//头部
  height: 45px;
  background-color: #fff;
  padding: 4px;
  
}
.pyg_content{
  flex: 1;
  overflow: scroll; //中间滚动
}
.pyg_footer{//底部
  height: 50px;
}

.pyg_nav{
  padding: 15px;
  display: flex;
  background-color: #fff;
  >a{
    flex: 1;
    display: inline-block;
    text-align: center;
    img{
      width: 70%;
      justify-content: space-evenly;
    }
  }
  
}

.pyg_goodsList{
  padding: 10px;
  .pyg_pbox{
    width: 100%;

    >img{
      width: 100%;
      display: block;
      margin: 5px 0;
    }
    >.pyg_sbox{ //小盒子
      width: 49%;
      margin-top: 10px;
      float: left;
      background-color:#fff;
      >.pyg_good{
        width: 100%;
        >img{
          width: 100%;
          display: block;
          margin: 5px 0;
        }
        >.pyg_desc{
          color: #333;
          font-size: 12px;
        }
        >.pyg_price{
          color: red;

        }
      }
      >.pyg_btncate{
        width: 80%;
        display:block;
        margin: 0 auto;
      }
    }
   
    >.pyg_sbox:nth-of-type(even){
      margin-left: 2%;
    }
  }
}